body {
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
}

input {
  border: none;
  outline: none;
  font-family: 'Amatic SC', cursive;
  font-size: 24pt;

}
.todoInput {
  border-bottom: 2px solid black;
}
.todoInput:focus {
  border-bottom: 2px solid #55e7c8;
}
input[type="text"] {
  width: 250px;
}
input[type="submit"] {
  margin-left: 10px;
  font-size: 20pt;
  font-family: 'Amatic SC', cursive;
}
input[type="submit"]:hover {
  cursor: pointer;
  color: #55e7c8;
}
button {
  outline: none;
  border: none;
  font-family: 'Amatic SC', cursive;
  font-size: 12pt;
}
button:hover {
  cursor: pointer;
  color: #55e7c8;
}
.todos {
  margin-top: 30px;
}
p {
  font-size: 20pt;
  display: inline;
  margin-right: 50px;
  /* text-align: left; */
}
p:hover {
  cursor: pointer;
}
.readTodo {
  text-align: left;
  margin-left: 40%;
}
.editTodo {
  width: 150px;
}

/* .readBtns {
  display: inline;
} */